.akl_controller_container {
    overflow-y: hidden;

    .o_view_controller {
        display: flex;
        height: 100%;
        overflow: hidden;
        flex-direction: column;

        .o_content {
            flex: 1 1 auto;
            overflow-y: scroll;
        }
    }
}

.o_action {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%
}